<h1>Virtual Closet Simulator</h1>

<form action="/results" method="post">
  <label for="color">Enter your tshirt color:</label>
  <input name="color">

  <button type="submit">Submit</button>
</form>

<a href="/find">Find a tshirt</a>
<a href="/results">View closet list</a>
